[submodule "themes/hugo-developer-portfolio"]
	path = themes/hugo-developer-portfolio
	url = https://github.com/samrobbins85/hugo-developer-portfolio
[submodule "myportfolio/themes/hugo-developer-portfolio"]
	path = myportfolio/themes/hugo-developer-portfolio
	url = https://github.com/samrobbins85/hugo-developer-portfolio
